-i https://pypi.org/simple
alabaster==0.7.12
apeye==1.2.0
astor==0.8.1
astpretty==2.1.0
attrs==19.3.0
autodocsumm==0.2.9
babel==2.10.3
bandit==1.7.4
beautifulsoup4==4.11.1
cachecontrol[filecache]==0.12.11
cached-property==1.5.2
cerberus==1.3.4
certifi==2019.3.9
chardet==3.0.4
charset-normalizer==2.1.1
colorama==0.4.1
coverage[toml]==6.4.4
cssutils==2.6.0
dict2css==0.3.0
distlib==0.3.6
docutils==0.17.1
domdf-python-tools==3.3.0
eradicate==2.1.0
flake8==4.0.1
flake8-annotations-complexity==0.0.7
flake8-awesome==1.3.0
flake8-bandit==3.0.0
flake8-breakpoint==1.1.0
flake8-bugbear==22.8.23
flake8-builtins==1.5.3
flake8-comprehensions==3.10.0
flake8-docstrings==1.6.0
flake8-eradicate==1.3.0
flake8-expression-complexity==0.0.11
flake8-if-expr==1.0.4
flake8-isort==4.2.0
flake8-logging-format==0.7.5
flake8-plugin-utils==1.3.2
flake8-polyfill==1.0.2
flake8-print==5.0.0
flake8-pytest==1.4
flake8-pytest-style==1.6.0
flake8-quotes==3.3.1
flake8-requirements==1.6.0
flake8-return==1.1.3
flake8-rst-docstrings==0.2.7
flake8-simplify==0.19.3
flake8-use-fstring==1.4
gitdb==4.0.9
gitpython==3.1.27
html5lib==1.1
idna==2.8
imagesize==1.4.1
importlib-metadata==1.5.0
iniconfig==1.1.1
isort==5.10.1
jinja2==2.11.1
lockfile==0.12.2
markupsafe==1.1.1
mccabe==0.6.1
msgpack==1.0.4
mypy==0.971
mypy-extensions==0.4.3
natsort==8.1.0
orderedmultidict==1.0.1
packaging==20.9
pbr==5.10.0
pep517==0.13.0
pep8-naming==0.13.2
pip==22.2.2
pip-shims==0.7.3
pipenv-setup==3.2.0
pipfile==0.0.2
platformdirs==2.5.2
plette[validation]==0.2.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pygments==2.5.2
pyparsing==2.4.0
pytest==7.1.2
pytest-cov==3.0.0
python-dateutil==2.8.0
pytz==2019.1
pyyaml==6.0
requests==2.22.0
requirementslib==1.6.9
restructuredtext-lint==1.4.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
setuptools==65.3.0
six==1.12.0
smmap==5.0.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
sphinx==4.3.2
sphinx-autodoc-typehints==1.17.1
sphinx-jinja2-compat==0.1.2
sphinx-prompt==1.5.0
sphinx-rtd-theme==1.0.0
sphinx-tabs==3.4.0
sphinx-toolbox==3.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stevedore==3.5.0
tabulate==0.8.10
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
typed-ast==1.5.4
typing-extensions==4.3.0
typing-inspect==0.8.0
urllib3==1.25.3
vistir==0.5.6
webencodings==0.5.1
wheel==0.37.1
zipp==3.0.0
